
  <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" [src]="movie.image" [alt]="movie.title"></div>
            
            <div class="col-md-6">

                <div class="small mb-1">{{ movie.language }}</div>
                <h1 class="display-5 fw-bolder">{{ movie.title | titlecase }}</h1>
                <div class="fs-5 mb-5">
                    <span>{{ movie.year }} | {{ movie.runtime }} | {{ movie.genre }}</span>
                </div>

                <app-e-movies-rating [maxRating]="10" [currentRating]="movie.rating" [ratings]="movie.votes" ></app-e-movies-rating>

            
                <p class="lead">{{ movie.plot }}</p>

                <h4>{{ movie.price | currency : "EUR" }} <span style="font-size: small;">to rent</span></h4>

                <!-- <div class="d-flex">
                    <button class="btn btn-lg btn-secondary flex-shrink-0" type="button">
                         Watch now
                        <i class="bi bi-eye"></i>
                    </button>
                </div> -->
                <div class="d-grid gap-2">
                    <button class="btn btn-dark flex-shrink-0" type="button">Watch It Now</button>
                    <button class="btn btn-dark flex-shrink-0" type="button">Play Trailer</button>
                </div>

            </div>





        </div>
    </div>
</section>